# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.playground

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods / Carthage
Pods/
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Secrets / signing
*.p12
*.mobileprovision
AuthKey_*.p8
.env
.env.*
