<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://jziszjpmdncmqrapgeub.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_DMAjk_Tj87ObossoZ4-S8A_g3DJoX_-</string>
</dict>
</plist>